* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	font-size: 62.5%; /* 1rem == 10px */
}

body {
    font-size: 1.6rem;
    background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%);
    height: 100vh;

    letter-spacing: -0.02em;
    font-family: 'Rubik', sans-serif;
    color: rgba(0, 0, 0, 0.64);

    display: grid;
    place-content: center;

}

.boarding-pass {
    margin: auto;
    max-width: 32.7rem;
}

.card-wrapper {
    margin-top: 2rem;
    display: grid;
}

section {
    padding: 2.4rem 3.2rem;
    background: #FFFFFF;
    border-radius: 2.4rem;
    display: grid;
    gap: 2.4rem;
}

.flight-info{
    border-bottom: .2rem dashed rgba(0, 0, 0, 0.32);
}

.passenger-info {
    border-bottom: .2rem dashed rgba(0, 0, 0, 0.32);

}

.boarding-pass > p {
    margin-top: 1rem;
    color: #FFFFFF;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    opacity: 0.64;
    width: 27rem;
    margin: 2rem auto;
}

h1, h2, strong {
    font-weight: 500;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    line-height: 2.4rem;
    
}

strong, .black {
    color: #000000;
}

.number-date-wrapper, .travel-wrapper, .passenger-wrapper, .boarding-wrapper {
    display: flex;
    justify-content: space-between;
}

.container-left {
    display: grid;
}

.container-right {
    display: grid;
    margin-left: auto;
    text-align: right;
}

.boarding-wrapper {
    align-items: center;
    gap: .8rem;
    
}



dl {
    display: grid;
    gap: 1.6rem;
}

.center {
    text-align: center;
}

.boarding-wrapper .container-right {
    display: grid;
    justify-items: center;
}

.secondary {
    color: white;
    font-weight: 500;
    background-color: #633BBC;
    width: 5.4rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .8rem;
}